# Configuring the express-openid-client SDK
ISSUER_BASE_URL=https://YOUR_DOMAIN
CLIENT_ID=YOUR_CLIENT_ID
BASE_URL=https://YOUR_APPLICATION_ROOT_URL
SECRET=LONG_RANDOM_VALUE
## (For response_type values that include 'code')
CLIENT_SECRET=YOUR_CLIENT_SECRET

# Configuring application hosting variables
PORT=

# Configuring hardware inventory list/create API URL
HARDWARE_INVENTORY_ITEMS_API_URL=

# Navbar links
LEGACY_HARDWARE_MANAGEMENT_URL=
LEGACY_SCHEDULED_MESSAGES_MANAGEMENT_URL=

# Update User metadata microservice URL
UPDATE_USER_METADATA_URL=
GET_USER_METADATA_URL=